@model List<TvHelper.Domain.Models.Video>
@{
    ViewData["Title"] = "Video Page";
    ViewData["Description"] = "The Video page of my website";
}

<p>This is the video.cshtml</p>

<h2>Videos</h2>

<ul>
    @foreach (var torrent in Model)
    {
        <li>
            <a href="@Url.Action("Open", "Video", new {filePath = torrent.Path})" target="_blank">@torrent</a>
            @if (torrent.StartTime == DateTime.MinValue)
            {
                <p class="new right">new</p>
            }

        </li>
    }
</ul>

@section Scripts {
    @*Insert any script tags for this page here*@
}