@model List<TvHelper.Domain.Models.Video>
@{
    ViewData["Title"] = "Video Page";
    ViewData["Description"] = "The Video page of my website";
}

<p>This is the video.cshtml</p>

<h2>Videos</h2>

<table class=" highlight">
    <thead>
    <tr>
        <th>Name</th>
        <th>New</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var torrent in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Open", "Video", new {filePath = torrent.Path})" target="_blank">
                    @torrent.ToString()
                </a>
            </td>

            @if (torrent.StartTime == DateTime.MinValue)
            {
                <td>
                    <p class="red">NEW</p>
                </td>
            }
        </tr>
    }
    </tbody>
</table>


@section Scripts {
    @*Insert any script tags for this page here*@
}